%ul.timeline<>
  = "{% for event in include.timeline %}"
  %li<>
    %i<>
      %i<>
    .timeline-title<> {{ event.title }}
    = "{% if event.subtitle %}"
    .timeline-subtitle<> {{ event.subtitle }}
    = "{% endif %}"
    %p<> {{ event.content }}
    = "{% if event.label %}"
    %span.label.label-default<> {{ event.label }}
    = "{% endif %}"
  = "{% endfor %}"
